<div class="row" id="todo-{{todo.id}}">
    <div class="col s12 m6 offset-m3">
        <form class="card" hx-post="/todos/{{todo.id}}" hx-target="#todo-{{todo.id}}" hx-swap="outerHTML">
            <div class="card-content">
                <input class="card-title" type="text" name="title" value="{{ todo.title }}" placeholder="Title">
                <textarea class="materialize-textarea" name="text" placeholder="Text">{{ todo.text }}</textarea>
            </div>
            <div class="card-action">
                <button class="btn green">Save</button>
                <button class="btn red" hx-delete="/todos/{{todo.id}}" hx-target="#todo-{{todo.id}}"
                    hx-swap="delete">Delete</button>
            </div>
        </form>
    </div>
</div>